DLTE-Assessment-02/DLTE-Assessment-SOAP/src/main/resources/loans.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://soap.dlte.web.dltespringsoapwebservice"
            xmlns:tns="http://soap.dlte.web.dltespringsoapwebservice"
            elementFormDefault="qualified">

    <!-- POJO -->
    <xsd:complexType name="loans">
        <xsd:sequence>
            <xsd:element name="fullName" type="xsd:string" />
            <xsd:element name="contact" type="xsd:long"/>
            <xsd:element name="userId" type="xsd:int" />
            <xsd:element name="branchCode" type="xsd:string" />
            <xsd:element name="passCode" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>